#content {
    max-width: 1680px;
    margin: auto;
    padding: 0 10vw;

    @media (max-width: 450px ) {
        padding: 0 15px;
    }
}

.page-template-page-no-title {

    .entry-content {
        margin: 0;
    }

}

.page-template-default {

    #content {
        padding-top: 150px;

        @media (max-width: 450px ) {
            padding-top: 40px;
        }
    }

}