.vc_column_container {
    
    @media (max-width: 450px) {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

.single {
    .entry-content {
        display: flex;
        margin: 140px 0 0 0;

        @media (max-width: 450px) {
            margin: 100px 0 0 0;
            flex-direction: column;
        }
    
        .left-content {
            width: 30%;
            @media (max-width: 450px) {
                width: 100%;
            }
        }
        
        .right-content {
            width: 70%;
            padding: 0px 40px;
            @media (max-width: 450px) {
                width: 100%;
                padding: 0;
            }

            h1 {
                margin: 0;
            }
        }
    }    
}

.vc_grid-filter-item {
    background-color: $colorBlack !important;

    span {
        color: white !important;
        font-weight: bold;
        text-transform: uppercase;
    }

    &.vc_active {
        background-color: white !important;

        span {
            color: $colorBlack !important;
        }
    }
}