.site-info {
    text-align: center;
    font-size: 12px;
    padding: 20px;

    @media (max-width: 450px) {
        display: flex;
        flex-direction: column-reverse;

        .sep {
            display: none;
        }
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}