#masthead {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    padding: 40px;
    z-index: 4;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    transition: (height 0.2s);

    @media (max-width: $menuBreakpoint) { 
        padding: 20px;
        height: auto;
        transition: none;
        flex-direction: column;
        justify-content: flex-start;
    }

    .single &,
    .archive & {
        border-bottom: 1px solid #efefef;
        background-color: white;
    }

    .header-top {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .site-branding {

        @media (max-width: $menuBreakpoint) {
            width: 100%;
            text-align: center;
        }

        a {
            color: $colorBlack;
            text-decoration: none;
            font-size: 2em;
            font-weight: bold;

            @media (max-width: 450px) {
                font-size: 16px;
            }
        }

        h1 {
            margin: 0;
        }

    }

    #site-button-navigation {
        display: none;

        @media (max-width: $menuBreakpoint) {
            display: block;
            // position: absolute;
            // left: 30px;
        }

        div {
            width: 25px;
            height: 2px;
            background-color: $colorBlack;
            margin: 6px 0;

            .single &,
            .archive & {
                background-color: $colorBlack;
            }
        }
    
        &.change div:nth-child(1){
            transform: rotate(-45deg) translate(-4px, 6px) ;
        }
    
        &.change div:nth-child(2){
            opacity: 0;
        }
    
        &.change div:nth-child(3){
            transform: rotate(45deg) translate(-5px, -8px) ;
        }
    }

    .main-navigation {
        float: none;
        text-transform: uppercase;
        font-weight: bold;
        width: initial;

        ul {
            display: flex;
            justify-content: flex-end;
            text-align: center;

            li {
                margin: 0.5rem 1rem;
                white-space: nowrap;

                a,
                a:visited {
                    cursor: pointer;
                    padding: 0 0.5rem;
                    color: $colorBlack;

                    .single &,
                    .archive & {
                        color: $colorBlack;
                    }
                }

                &.current-menu-item {
                    color: $colorBlack;
                }
            }

            .menu-item-has-children {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;
                align-content: flex-start;

                .sub-menu {
                    background-color: $ColorGreen;
                    flex-direction: column;

                    li {
                        padding: 10px 10px; 
                        
                        a {
                            color: white;
                            font-size: 13px;
                            font-weight: normal;
                            text-transform: uppercase;
                            min-width: 100px;

                            &:hover {
                                color: white;
                            }
                        }

                        @media (max-width: $menuBreakpoint) {
                            display: flex;
                            justify-content: center;
                            padding: 10px;
                            margin: 0;
                        }
                    }
                }
            }

            @media (max-width: $menuBreakpoint) {
                display: none;
            }
            
        }

    }

    &.shrink {
        height: auto;
        transition: (height 0.2s);
        background-color: white;
        border-bottom: 1px solid #efefef;
        transition: (background-color, 0.2s);

        .site-branding {
            .logo-container {
                background-image: url($logoBlack);
            }
        }

        #site-button-navigation {
            div {
                background-color: $colorBlack;
            }
        }            

        .main-navigation {

            ul {  
                li {   
                    a {
                        color: $colorBlack;

                        &:visited {
                            color: $colorBlack;
                        }
                    }
                }
            }

            &.toggled{
                .menu-es-container {
                    margin-top: 25px;
                }
            }                
        }

    }

    &.toggled {
        height: 100%;
        background-color: white;

        .site-branding {
            .logo-container {
                background-image: url($logoBlack);
            }
        }

        #site-button-navigation {
            div {
                background-color: $colorBlack;
            }
        }

        .main-navigation {

            ul {
                @media (max-width: $menuBreakpoint) {
                    display: flex;
                    flex-direction: column;
                }

                li {
                    &.current-menu-item {
                        border-bottom: 1px solid #c5c5c5;
                    }
                }
            }

            .menu-es-container {
                width: 100%;
                display: inline-block;
                padding: 20px 0;
                margin-top: 30px;

                a,
                a:visited {
                    color: #333;
                }
            }

        }

        .site-phone {
            a {
                color: $colorBlack;
            }
        }
    }

}