$logoWhite: '../../../uploads/logo.svg';
$logoBlack: '../../../uploads/logoBlack.svg';

$colorBlack: #333;
$ColorGreen: #52c4cb;
$backgroundColorOpacity: #52c4cb52;

$menuBreakpoint: 812px;
$desktopBreakpoint: 1366px;
$tabletProBreakpoint: 1024px;
$tabletBreakpoint: 768px;
$phoneBreakpoint: 450px;
$phoneLandscapeBreakpoint: 375px;